@tailwind base;
@tailwind components;
@tailwind utilities;

form input,
form textarea {
  @apply px-4 py-2 rounded-md outline-none border-2 border-gray-200 shadow-md shadow-gray-200 w-[320px];
}
form label {
  @apply text-xl font-bold  text-[#fff];
}
form button {
  @apply bg-green-500 px-6 py-2 rounded-md;
}
/* admin css */
.navbar,
.loginInfo {
  box-shadow: 10px 12px 12px #cfc8c8, inset 12px 12px 25px #d6d3d3;
}

.comment_readbox {
  border: 2px solid #bebebe63;
  box-shadow: 10px 14px 12px #cfc8c8, inset 8px 8px 32px #d6d3d3;
}

.admin-tabslist::-webkit-scrollbar,
.navbar::-webkit-scrollbar,
.main-body-area::-webkit-scrollbar {
  width: 0px;
}

.logOutico:hover {
  background: #ff0000;
}
.logOutico:hover,
.subnav_ico:hover {
  box-shadow: -4px 4px 10px #c26a6a, 4px -4px 10px #22868d,
    -4px -4px 10px #7770b6, 4px 4px 10px #b067b3, inset 12px 12px 25px #dfb0b0;
}

.main-body-area {
  width: calc(100% - 330px);
}
.navbar_tabs a {
  transition: all 0.5s ease-in-out;
}
.navbar_tabs a:hover {
  @apply text-blue-500;
}
.navbar_tabs b svg:hover {
  @apply text-red-600;
}
.article-form input,
.product_postDetail input,
.shop_cardDetail input,
.cardDetail_Channel input,
textarea {
  @apply w-[360px] px-4 py-3 outline-none border-2 border-gray-200 rounded-lg bg-[#fff] shadow-md shadow-gray-300;
}
.article-form label,
.product_postDetail label,
.shop_cardDetail label,
.cardDetail_Channel label {
  @apply text-lg font-bold py-3 text-[#fff];
}

.herobox {
  background-image: url("/img/herobackimg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.mobile-vieew_tabView,
.menuIcon_MobileView_Tabs {
  @apply hidden;
}
footer{
  @apply w-full h-[90px] flex items-center px-12 py-4 bg-[#151244] text-[#fff] font-bold text-center;
}
.mobileMenuList{
  @apply hidden;
}
/* Responsive code */

@media (max-width: 1000px) and (min-width: 800px) {
  .bannerMaintxt {
    @apply text-2xl;
  }
  .herobannerBtn button {
    @apply text-base;
  }
  /* site Navbar */
  .siteNavbar_tabs li {
    @apply text-base;
  }
  /* footer */
  .webview {
    @apply hidden;
  }
  .mobile-vieew_tabView {
    @apply flex;
  }
}
@media (max-width: 799px) and (min-width: 650px) {
  .bannerMaintxt {
    @apply text-xl;
  }
  .herobannerBtn button {
    @apply text-sm px-4 py-2 mb-2;
  }
  /* site Navbar */
  .siteNavbar_tabs li {
    @apply text-base;
  }
  .navbar_site_box {
    @apply px-4;
  }
  /* footer */
  .mobile-vieew_tabView{
    @apply flex flex-wrap items-center justify-between w-full;
  }
  .webview,
  .siteNavbar_tabs {
    @apply hidden;
  }
  .menuIcon_MobileView_Tabs {
    @apply flex;
  }
  .rooterText {
    @apply text-[16px];
  }
  .herobox {
    @apply px-4 pt-2 h-[auto] items-end;
  }
  .hero_pic {
    @apply flex flex-wrap justify-end;
  }
  .main-text_herrobanner {
    @apply grid;
  }
}
@media (max-width: 649px) and (min-width: 500px) {
  .bannerMaintxt {
    @apply text-xl;
  }
  .herobannerBtn button {
    @apply text-sm px-4 py-2 mb-2;
  }
  /* site Navbar */
  .siteNavbar_tabs li {
    @apply text-base;
  }
  .navbar_site_box {
    @apply px-4;
  }
  /* footer */
  footer{
    @apply px-3;
  }
  .mobile-vieew_tabView{
    @apply flex flex-wrap items-center justify-between w-full;
  }
  .webview,
  .siteNavbar_tabs {
    @apply hidden;
  }
  .menuIcon_MobileView_Tabs {
    @apply flex;
  }
  .rooterText {
    @apply text-[16px];
  }
  .herobox {
    @apply px-4 pt-2 h-[auto] items-end;
  }
  .hero_pic {
    @apply flex flex-wrap justify-end;
  }
  .main-text_herrobanner {
    @apply grid;
  }
}
@media (max-width: 499px) and (min-width: 400px) {
  .bannerMaintxt {
    @apply text-[14px] leading-[20px];
  }
  .herobannerBtn button {
    @apply text-sm px-4 py-2;
  }
  /* site Navbar */
  .siteNavbar_tabs li {
    @apply text-base;
  }
  .navbar_site_box {
    @apply px-4 h-[auto];
  }
  /* footer */
  .webview,
  .siteNavbar_tabs {
    @apply hidden;
  }
  footer{
    @apply hidden;
  }
  .menuIcon_MobileView_Tabs {
    @apply flex;
  }
  .rooterText {
    @apply text-[16px];
  }
  .herobox {
    @apply px-4 pt-2 h-[auto] items-end;
  }
  .hero_pic {
    @apply flex flex-wrap justify-end;
  }
  .main-text_herrobanner {
    @apply block;
  }
}
@media (max-width: 399px) and (min-width: 300px) {
  .bannerMaintxt {
    @apply text-[14px] leading-[20px];
  }
  .herobannerBtn button {
    @apply text-sm px-4 py-2;
  }
  /* site Navbar */
  .siteNavbar_tabs li {
    @apply text-base;
  }
  .navbar_site_box {
    @apply px-4 h-[auto];
  }
  /* footer */
  .webview,
  .siteNavbar_tabs {
    @apply hidden;
  }
  footer{
    @apply hidden;
  }
  .menuIcon_MobileView_Tabs {
    @apply flex;
  }
  .rooterText {
    @apply text-[16px];
  }
  .herobox {
    @apply px-4 pt-2 h-[auto] items-end;
  }
  .hero_pic {
    @apply flex flex-wrap justify-end;
  }
  .main-text_herrobanner {
    @apply block;
  }
  /* playerbox_player */
  .mainbox{
    @apply w-full;
  }
  .playerbox_player{
    @apply grid px-4 py-6;
  }
  .playerbox_player iframe{
    @apply w-[100%] h-[220px];
  }
  .livechannel-app{
    @apply px-1;
  }
  .channelframe_logo{
    @apply w-[50px] h-[50px] m-1;
  }
  .functionalIcon{
    @apply text-xl;
  }
  .morechannelsidPage{
    @apply w-[100%] h-auto;
  } 
  .morechannelPic{
    @apply w-[100px] h-[70px]
  }
  .mobileMenuList{
    @apply grid list-none gap-2 absolute bg-blue-900 top-[60px] right-[6px] px-[30px] py-[20px] rounded-[12px] text-2xl font-bold shadow-md shadow-gray-400 border-[1px] border-blue-800;
  }
}
   